body {
  margin: 0;
  padding-bottom: 3rem;
  background-color: #2352b3;
}

#sidebar {
  margin:auto;
  position:absolute;
  top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
  width: 100px;
  max-height:400px;
  overflow:auto;
  margin-left: 5px;
}

#logo {
  height: 40px;
  width: 40px;
  margin: 35px;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sidebarimage {
  height: 22px;
  width: 22px;
  margin: 15px;
  margin-left: 38px;

  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  cursor: pointer
}

#messages-div2 {
  background-color: white;
  border-radius: 35px;
  width: 92.5%;
  height: 92% !important;
  margin-left: 120px;
  position: absolute;
  margin-top: -100px;
  overflow: none;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#button:hover {
  background-color: blue; /* Green */
  color: green;
}
#input1 {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input1:focus {
  outline: none;
}
#button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
#button:hover {
  background-color: grey;
  color: white;
}
